<%= form_for(@send_sign_up_invite) do |f| %>
  <% if @send_sign_up_invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@send_sign_up_invite.errors.count, "error") %> prohibited this send_sign_up_invite from being saved:</h2>

      <ul>
      <% @send_sign_up_invite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipient %><br>
    <%= f.text_field :recipient %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
