<%= form_for(@update_details) do |f| %>
  <% if @update_details.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update_details.errors.count, "error") %> prohibited this update_details from being saved:</h2>

      <ul>
      <% @update_details.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :current_password %><br>
    <%= f.text_field :current_password %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
