<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key,msg| %>
    <%= content_tag :p, msg, class: key %>
  <% end %>
  <ul>
    <% if session_manager.signed_in? %>
      <li>
        <%= link_to "Profile", polymorphic_path(User::UpdateDetails.new, action: :edit) %>
      </li>
      <li>
        <%= link_to "Sign Out", polymorphic_path(User::SignIn.new), method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign In", polymorphic_path(User::SignIn.new, action: :new) %>
      </li>
    <% end %>
  </ul>
  <%= yield %>

</body>
</html>
