<h2>Reset Password</h2>
<%= form_for(@reset_password) do |f| %>
  <% if @reset_password.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reset_password.errors.count, "error") %> prohibited this reset_password from being saved:</h2>

      <ul>
      <% @reset_password.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :code %>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
